services:
  - type: web
    name: university-club-backend
    runtime: docker
    dockerfilePath: ./Dockerfile
    dockerContext: ./backend
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 8000
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        value: bracunet
      - key: CLOUDINARY_API_KEY
        value: "474613338967754"
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: CORS_ORIGIN
        sync: false
